<div class="text-box">
<%= form_with(model: [ @ticket, @ticket.comments.build ], local: true) do |form| %>
  <div class="input-group">
  <%= form.text_field :comment ,class:"form-control"%>
  <span class="input-group-btn">
    <button class="btn btn-default" type="button">
    </button>
  </span>
  <%= form.submit :Comment , class:"btn btn-outline-primary" %>
<% end %>
